@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Varela Round', 'Arial', sans-serif;
}

body {
    color: #272727;
    font-family: 'Varela Round', 'Arial', sans-serif;
}

h1,
h2,
h3 {
    font-weight: normal;
}

.remark-slide {
    background: #272727;
}

.remark-code,
.remark-inline-code {
    text-align: left;
    border-radius: 15px;
}

.remark-code *,
.remark-inline-code * {
    font-family: 'Source Code Pro', monospace;
}

.wrapper {
    background: #ffffff;
    border-radius: 30px;
    border: 10px solid #272727;
}

iframe {
    width: 100%;
    height: 100vh;
    border-radius: 15px;
}

.no-list ol, .no-list ul {
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 0.25em;
}

pre, code {
    text-align: left;
    font-family: 'Source Code Pro', 'Varela Round', 'Arial', sans-serif !important;
    color: #272727;
}

a, a:visited, a:hover, a:active {
    color: #272727;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

img {
    border-radius: 15px;
    vertical-align: inherit;
}

blockquote {
    border-left: 8px solid;
    padding-left: 0.5em;
    color: #272727;
    text-align: left;
    margin: 1em 0;
}

blockquote>p {
    margin: 0;
}

.remark-code {
    font-size: 0.9em;
}

.remark-container {
    background: #272727;
}

.remark-slide-scaler {
    box-shadow: none;
}

.remark-notes {
    font-size: 1em;
}

.remark-slide-content {
    font-size: 28px;
    padding: 1em 2em;
    color: #272727;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.remark-slide-number {
    color: transparent;
    right: 1em;
    opacity: 0.6;
    font-size: 0.8em;
    z-index: 2;
}

/* .no-counter .remark-slide-number {
    display: none;
} */
.full, .full h1, .full h2 {
    color: #272727;
}

.fulliframe {
    height: calc(66.6666666667% - 1.2em);
    width: 66.6666666667%;
    transform: scale(1.5);
    transform-origin: 0 0;
    border: 0;
    border-radius: 15px;
}

.side-layer {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0 2em;
}

.middle, .middle img, .middle span {
    vertical-align: middle;
}

.top {
    vertical-align: top;
}

.bottom {
    vertical-align: bottom;
}

.inline-block p, .inline-block ul, .inline-block ol, .inline-block blockquote {
    display: inline-block;
    text-align: left;
}

.no-margin, .no-margin>p, .no-margin>pre, .no-margin>ul, .no-margin>ol {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.space-left {
    padding-left: 1em;
}

.space-right {
    padding-right: 1em;
}

.responsive>img {
    width: 100%;
    height: auto;
}

.contain {
    background-size: contain;
}

.overlay {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.5);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.justify {
    text-align: justify;
}

.primary {
    color: #272727;
}

.alt {
    color: #272727;
}

.em {
    color: #272727;
}

.thin {
    font-weight: 200;
}

.huge {
    font-size: 2em;
}

.big {
    font-size: 1.5em;
}

.small {
    font-size: 0.8em;
}

.dark-bg {
    background-color: #333;
}

.alt-bg {
    background-color: black;
}

.row {
    width: 100%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row.table {
    display: table;
}

.row.table [class^=col-] {
    float: none;
    display: table-cell;
    vertical-align: inherit;
}

[class^=col-] {
    float: left;
}

[class^=col-].inline-block {
    float: none;
    display: inline-block;
}

.col-1 {
    width: 8.3333333333%;
}

.col-2 {
    width: 16.6666666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.3333333333%;
}

.col-5 {
    width: 41.6666666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.3333333333%;
}

.col-8 {
    width: 66.6666666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.3333333333%;
}

.col-11 {
    width: 91.666